<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829478308306-71on7f0pjmljfvttph08s21r2lba16p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829478308306-71on7f0pjmljfvttph08s21r2lba16p4</string>
	<key>API_KEY</key>
	<string>AIzaSyCVSbW5bYAh-bXdek5WgaV2T0RHTJNUlKU</string>
	<key>GCM_SENDER_ID</key>
	<string>829478308306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp7</string>
	<key>PROJECT_ID</key>
	<string>design-recognition</string>
	<key>STORAGE_BUCKET</key>
	<string>design-recognition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829478308306:ios:5ac884af5a5a44d507e00b</string>
	<key>DATABASE_URL</key>
	<string>https://design-recognition.firebaseio.com</string>
</dict>
</plist>